section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 10px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border: 20px double darkblue;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
